
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

img {
    width: 30%;
    height: auto;
    display: block;
    min-width: 272px;
}

input {
    box-sizing: border-box;
    display: block;
    border-radius: 24px;
    border: 1px solid #ccc;
}